[Unit]
Description=Daemon for project clipboard-buffer
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/touch %t/clipboard-buffer/cpdA.b %t/clipboard-buffer/cpdB.b
ExecStart=/usr/local/bin/cpd
RuntimeDirectory=clipboard-buffer
TimeoutStopSec=5

[Install]
WantedBy=graphical-session.target